body{
	font-family: 'Roboto', sans-serif;
}
.header-bg{
	background-color: #2ac9b7;
	

}
.navbar-brand img{
	width: 120px;
}
.banner-text{
	color: #fff;
    font-size: 60px;
    margin-bottom: 30px;
}
.wave{
	margin-top: -7%;
	overflow: hidden;
}
.zindex{
	z-index: 99;
}
.nav-bg {
  background-color:#000;
}
.users-section{
	background-image: url(../images/fixed.jpg);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
    z-index: 0;
}
section.users-section::before{
	content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #0000009c;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.width-prsn{
  width: 100px;
}

.carousel-indicators [data-bs-target]{
  text-indent:inherit !important;
  width:inherit !important;
}
.width-prsn{
  width: 100px;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: inherit !important;
}
.hover-clr:hover{
  background-color: #2ac9b7;
  padding: 0px;
}

#carouselExampleDark, .carousel-item {
    height: 180px;
}
.vdo-bg{
  background-image: url(../images/video-bg.jpg);
  height: 300px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
    z-index: 0;
}
section.vdo-bg::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #0000009c;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.fontsize{
  font-size: 200px !important;
}
.hover-2:hover .image{    
    background: rgba(0, 255, 255, 0.5);
    transition: 1s;
  /* transform: scaleY(1.5);*/

 
}
img {
    position: relative;
    z-index: -1;

}
.bg-3{
  background-image: url(../images/subscribe-2.jpg);
   height: 400px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
    z-index: 0;
}
section.bg-3::before{
  content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background: #0000009c;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-clr{
  background-color: #0dcaf0 !important;
}

